<ion-modal-view>
  <ion-header-bar class="bar-calm background-B4E065">
    <h1 class="title">Forget Password</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeForgetPassword()">
        <i class="ion-close-round margin-right-10 text-align-center"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="ForgetPasswordCtrl">
    <div>
      <form name="forget_form">
        <div class="text-align-center padding-20-0 font-size-18">Please enter your email</div>
        <div class="list width-90per margin-auto">
          <label class="item item-input item-floating-label">
            <input type="email" name="email" ng-model="email" placeholder="Email" required>
          </label>
        </div>
        <div class="alert" ng-show="forget_form.email.$dirty">
          <div ng-show="forget_form.$error.required">Please enter your email.</div>
        </div>
        <div class="alert" ng-show="forget_form.email.$dirty">
          <div ng-show="forget_form.email.$error.email">Wrong format of email</div>
        </div>

        <input type="button" value="送出" class="button button-calm login_button margin-top-30" ng-click="forgetSubmit()"> 
      </form>
    </div>
  </ion-content>
</ion-modal-view>
