<ion-nav-bar class="bar-calm">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-icon ion-android-arrow-back" ng-click="myGoBack()" ng-hide="$state.includes('app.home') == true"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon ion-android-more-vertical" ng-click="popover.show($event)" ng-show="$state.includes('app.recipe')"></button>
    <button class="button button-clear" ng-click="" ng-hide="$state.includes('app.home') == true || $state.includes('app.recipe') == true">Save</button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view name="main"></ion-nav-view>
<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <div class="list">
        <a class="item" ui-sref="app.recipe_edit.info">Edit</a>
        <a class="item">Delete</a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
