<ion-view view-title="COOK" ng-controller="HomeCtrl">
  <ion-content class="home">
    <div class="bar bar-header item-input-inset padding-0-5per">
      <label class="item-input-wrapper ">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </div>
    <div class="list">
      <a class="item item-thumbnail-left home-menu" ui-sref="app.recipe">
        <img src="img/material2.jpg">
        <h2>Ionic Framework</h2>
        <p>A mobile development revolution</p>
      </a>
      <a class="item item-thumbnail-left home-menu">
        <img src="img/material1.jpg">
        <h2>Material Design</h2>
        <p>A visual language of design &amp; innovation</p>
      </a>
      <a class="item item-thumbnail-left home-menu">
        <img src="img/material4.jpg">
        <h2>Ionic Material</h2>
        <p>Their love-child</p>
      </a>
    </div>
  </ion-content>
  <button class="button button-fab button-fab-bottom-right ink-dark button-calm icon ion-plus" ng-click=""></button>
</ion-view>
