<ion-view view-title="COOK" ng-controller="HomeCtrl" cache-view="false">
  <ion-content class="home" ng-init="initialize()">
    <ion-refresher on-refresh="initialize()" pulling-text="Refresh"></ion-refresher>
    <div class="bar bar-header item-input-inset padding-0-5per">
      <label class="item-input-wrapper ">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchText">
      </label>
    </div>
    <div class="list">
      <a id="recipe{{ recipe.recipe_id }}" class="item item-thumbnail-left home-menu" ng-repeat="recipe in recipe_list | filter:searchText" ng-click="getRecipeId()">
        <img src="{{ recipe.recipe_image }}"/>
        <span style="display:none">{{ recipe.recipe_id }}</span>
        <h2>{{ recipe.recipe_title }}</h2>
        <p>{{ recipe.recipe_content }}</p>
      </a>
    </div>
  </ion-content>
  <button class="button button-fab button-fab-bottom-right ink-dark button-dark icon ion-plus hide-on-keyboard-open" ui-sref="app.recipe_add"></button>
</ion-view>
