<ion-view view-title="Recipe Edit" ng-controller="RecipeEdit">
  <ion-content>
    <ion-nav-view name="recipe"></ion-nav-view>
  </ion-content>
  <div class="tabs tabs-calm tabs-icon-left">
    <a class="tab-item" ui-sref="app.recipe_edit.info">
      <i class="icon ion-information-circled"></i> Info
    </a>
    <a class="tab-item" ui-sref="app.recipe_edit.ingredients">
      <i class="icon ion-star"></i> Ingredient
    </a>
    <a class="tab-item" ui-sref="app.recipe_edit.steps">
      <i class="icon ion-gear-a"></i> Steps
    </a>
  </div>
</ion-view>
