<ion-view view-title="Recipe Edit" ng-controller="RecipeCtrl">
  <ion-content ng-init="initialize()">
    <div class="recipe_edit_image">
      <div ng-show="recipe.recipe_image == null">
        <div class="recipe_edit_image_text">
          <i class="icon ion-plus font-size-4em"></i>
          <div>Tap Here To Add A Photo</div>
        </div>
      </div>
    </div>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label font-size-18">Title</span>
        <input type="text" placeholder="Sushi" ng-model="recipe.recipe_title">
      </label>
      <label class="item item-input item-select">
        <div class="input-label font-size-18">
          Category
        </div>
        <select ng-model="recipe.recipe_category">
          <option ng-repeat="category in category_list" ng-selected="'{{recipe.recipe_category}}' == '{{category}}'" value="{{ category.category_id }}">{{ category.category_name }}</option>
        </select>
      </label>
    </div>
  </ion-content>
</ion-view>
