<ion-view view-title="Recipe Edit" ng-controller="RecipeEditIngredients">
	<ion-content>
		<div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Eggs?">
      </label>
			<label class="item item-input">
				<input type="text" placeholder="Butter?">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Milk?">
			</label>
    </div>
		<button class="button button-fab button-fab-bottom-right ink-dark button-calm icon ion-plus" ng-click=""></button>
  </ion-content>
</ion-view>
