<ion-view title="Recipe" ng-controller="RecipeCtrl">
	<ion-content>
    <!--<ion-refresher on-refresh="doRefresh()" pulling-text="重新整理"></ion-refresher>-->
			<!-- 顯示圖片 -->
			<div class="recipe_edit_image">
				<div style="height:45%"></div>
				<div class="recipe_edit_image_text">
					<div>Yummy</div>
				</div>
			</div>

		<div class="list">
			<!-- 標題、種類 -->
			<div class="item item-divider">
				{{ recipe.recipe_title }}
			</div>
			<div class="item item-divider">
				Category
			</div>
			<!-- 材料、步驟 -->
			<div class="item item-divider">
        Ingredients
      </div>
			<label class="item item-input">
				<span class="input-label">材料列表</span> <!--{{account}}-->
			</label>
			<div class="item item-divider">
        Steps
      </div>
      <label class="item item-input">
        <span class="input-label">料理步驟</span> <!--{{account}}-->
      </label>
    </div>
  </ion-content>
</ion-view>
