<ion-view title="Recipe" ng-controller="RecipeCtrl">
	<ion-content ng-init="initialize()">
		<!-- 顯示圖片 -->
		<div ng-show="recipe.recipe_image != null">
			<img class="recipe_edit_image" src="{{ recipe.recipe_image }}">
		</div>

		<div class="list">
			<!-- 標題、種類 -->
			<div class="item item-divider font-size-25">
				{{ recipe.recipe_title }}
			</div>
			<div class="item item-divider font-size-18">
				Category
			</div>
			<div style="margin: 5%">{{ recipe.recipe_category }}</div>
			<!-- 材料、步驟 -->
			<div class="item item-divider font-size-18">
				Ingredients
			</div>
			<label class="item item-input" ng-repeat="ingredient in ingredient_list">
				<span class="input-label float-left" style="width: 50%">{{ ingredient[1] }}</span>
				<span class="input-label text-align-right float-right" style="width: 50%">{{ ingredient[2] }}</span>
			</label>
			<div class="item item-divider font-size-18">
				Steps
			</div>
			<div style="margin: 5%" class="white-space-pre">{{ recipe.recipe_content }}</div>
		</div>
	</ion-content>
</ion-view>
