.popover {
  top: 70px !important;
  left: 90px !important;
  height:110px;
}
.bar{
  box-shadow: none !important;
}
.login{
  margin: 0;
  bottom: 0;
  background-image: url("../img/background-1.jpg");
  background-color: #cccccc;
}
.logo_login {
  margin: auto;
  margin-top: 15%;
  margin-bottom: 10%;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-image: url("../img/ezgif.com-resize.gif");
  background-color: #cccccc;
  text-align: center;
  line-height: 200px;
}
.login_button {
  display: block;
  width: 70%;
  margin: 0 15% !important;
  margin-top: 15px !important;
  border-radius: 25px !important;
}
.login_input{
  margin-left: 5% !important;
  width: 90% !important;
  padding-right: 0;

}
.login_input_border{
  width: 100%;
  border: 0;
  border-radius: 10px !important;
  background: #FFF;
  opacity:0.4;
}
.home-menu{
  min-height: 100px !important;
  padding-top: 16px;
  margin:0;
}
.recipe_edit_image{
  margin: 5%;
  margin-top: 5%;
  width: 90%;
  min-height: 40%;
  background: #EEE;
}
.recipe_edit_image_text{
  height: 100%;
  padding: 10% 0;
  color: #666;
  font-size: 1.5em;
  text-align: center;
}
a.home-menu img{
  border-radius: 0 !important;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.margin-0-25per {
  margin: 0 25%;;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.margin-buttom-10per{
  margin-bottom: 10%;
}
.margin-bottom-20{
  margin-bottom: 20px !important;
}
.border-0 {
  border: 0;
}
.padding-0-5per{
  padding: 0 5% !important;
}
.padding-6-10per {
  padding: 6px 10% !important;
}
.height-50{
  height: 50px;
}
.font-size-16 {
  font-size: 16px !important;
}
.font-size-18 {
  font-size: 18px !important;
}
.font-size-25 {
  font-size: 25px !important;
}
.font-size-4em{
  font-size: 4em;
}
.bar-font{
  font-weight: bold;
  color: black;
}
.text-align-center {
  text-align: center;
}
.text-align-right{
  text-align: right;
}
.color-FFF{
	color: #FFF !important;
}
.background-FAFAFA{
	background: #FAFAFA !important;
}
.white-space-pre{
  white-space:pre;
}
.font-weight-700{
  font-weight: 700;
}
